@tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  .whatsapp-button {
    font-family: inherit;
    font-size: 12px;
    background: rgb(19, 173, 71);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .whatsapp-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.5s ease-in-out;
  }
  
  .whatsapp-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.5s ease-in-out;
  }
  
  .whatsapp-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .whatsapp-button:hover svg {
    transform: translateX(4.0em) rotate(360deg) scale(1.1);
  }
  
  .whatsapp-button:hover span {
    transform: translateX(8em);
  }
  
  .whatsapp-button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.2em);
    }
  
    to {
      transform: translateY(-0.2em);
    }
  }
  

  .background-custom-color{
    background: rgb(243,243,243);
    background: linear-gradient(90deg, rgba(243,243,243,1) 0%, rgba(239,233,237,1) 50%, rgba(242,236,240,1) 100%);
  }

  .bg_custom_2 {
    background: rgb(243,243,243);
    background: linear-gradient(90deg, rgba(243,243,243,1) 0%, rgba(246,235,242,1) 100%);
  }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    
  }
  